.nav {
  background-color: var(--input-bg);
  padding: 0 25px;
  position: relative;
}
.nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50px;
  height: 49px;
  width: 3px;
  background: var(--main-bg);
}
li {
  padding: 0;
  margin: 0;
}
li a {
  padding: 10px 20px;
  display: block;
  color: var(--main-color);
}
a.active {
  color: var(--main-color);
}
.active {
  background: #e0def2;
  font-weight: bold;
  border-right: 2px solid var(--sec-bg);
}
.in-active {
  background: transparent;
  font-weight: unset;
  border-right: unset;
}
//dropdown
.dropdown-btn {
  position: relative;
  cursor: pointer;
}
.dropdown-btn a {
  display: flex;
}
.arrow-icon {
  color: var(--main-color);
  transform: rotatez(270deg);
  margin-right: 15px;
  padding-top: 0px;
  width: 5px;
}
.dropdown-list {
  position: absolute;
  top: 49px;
  background: var(--main-bg);
  border: 1px solid #eee;
}
.dropdown-item:hover {
  background: var(--input-bg);
}
.dropdown-item a {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
//toggle-btn
.navbar-toggle {
  display: none;
}
.navbar-toggle .list-icon {
  color: var(--main-color);
  position: relative;
  z-index: 111;
  top: 0px;
}
// wish-list
.wish-list-item {
  background: var(--main-color);
  color: var(--main-bg);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
}
@media (max-width: 74.9375em) {
  .nav {
    padding: 5px 12px 0;
  }
  .navbar-toggle {
    display: inline-flex;
    margin-right: auto;
    cursor: pointer;
    position: relative;
  }
  .wish-list {
    position: absolute;
    bottom: 1px;
    right: 0px;
    z-index: 1;
    color: var(--main-color);
  }
  .wish-list-no {
    color: var(--main-bg);
    right: 11px;
    bottom: 12px;
    position: absolute;
    z-index: 1;
  }
  .wish-list-item {
    display: none;
  }
  .navbar-item {
    width: 100%;
  }
  .navbar-hide {
    display: none;
  }
}
@media (max-width: 47.9375em) {
  .nav {
    padding: 5px 12px 0;
  }
  .navbar-toggle {
    display: inline-flex;
    margin-right: auto;
    cursor: pointer;
    position: relative;
  }
  .wish-list {
    position: absolute;
    bottom: 1px;
    right: 0px;
    z-index: 1;
    color: var(--main-color);
  }
  .wish-list-no {
    color: var(--main-bg);
    right: 11px;
    bottom: 12px;
    position: absolute;
    z-index: 1;
  }
  .wish-list-item {
    display: none;
  }
  .navbar-item {
    width: 100%;
  }
  .navbar-hide {
    display: none;
  }
}
