<div class="row">
  <ng-container *ngFor="let product of products ? products : productsData">
    <div class="product col-s-12 col-m-6 col-lg-3">
      <figure>
        <img class="product-img" [src]="product.image" alt="" />
      </figure>
      <div class="product-info">
        <p class="title">{{ product.title }}</p>
        <div class="tui-row">
          <i-bs
            *ngFor="let rate of rateValue(product.rate); let index = index"
            class="yellow-star-icon"
            name="star-fill"
          ></i-bs>
          <i-bs
            *ngFor="let rate of rateValue(5 - product.rate); let index = index"
            class="grey-star-icon"
            name="star-fill"
          ></i-bs>
        </div>
        <p class="price-wrapper">
          <span [ngClass]="{ sale: product.sale, price: !product.sale }">
            {{ product.price | currency: product.currency }}</span
          >
          <span class="price">{{
            product.sale | currency: product.currency
          }}</span>
        </p>
      </div>
    </div>
  </ng-container>
</div>
