.product {
  background: var(--main-bg);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.product:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
}
.product-info {
  padding: 16px;
}
