.cart-wrapper {
  background: var(--layout-bg);
  height: calc(100vh - 150px);
}
h2,
h3 {
  font: normal normal normal 24px/45px Cairo;
  color: var(----new-btn-bg);
}
h3 {
  text-align: center;
  margin-top: 50px;
}
.price-title {
  margin-left: 20px;
  color: var(--icon-color);
}
table {
  overflow: scroll;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th {
  min-width: 25%;
  padding-bottom: 15px;
  color: var(--main-color);
}
tr {
  width: 100%;
  border-bottom: 2px solid var(--main-bg);
}
td {
  padding: 10px 0;
  text-align: center;
  color: var(--price-color);
  width: 20%;
}
.justify-space-around {
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.table-title {
  min-width: 100px;
}
.quantity-btn {
  padding: 0 10px;
  margin: 0 10px;
  position: relative;
}
.quantity-btn::after {
  content: "";
  border: 1px solid var(--main-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -1px;
  top: 1px;
  transition: 0.3s ease-in-out;
}
.quantity-btn span {
  font-size: 20px;
  position: relative;
  z-index: 7;
  bottom: 4px;
  right: 1px;
}
.delete-btn {
  border: 1px solid var(--icon-color);
  border-radius: 25px;
  padding: 5px 0;
}
.delete-btn:hover,
.quantity-btn:hover::after {
  color: var(--main-bg);
  background: var(--main-color);
}
.btn:hover .quantity-btn span {
  color: var(--main-bg);
}
@media (max-width: 74.9375em) {
  .cart-wrapper {
    height: calc(100vh - 110px);
  }
}
@media (max-width: 47.9375em) {
  .cart-wrapper {
    height: calc(100vh - 110px);
  }
  table {
    display: block;
    padding: 0 20px;
  }
  td {
    padding: 10px;
  }
  .delete-btn {
    min-width: 150px;
  }
}
