<div class="cart-wrapper">
  <div class="container">
    <ng-container *ngIf="cartProducts.length != 0">
      <div class="row justify-space-between">
        <h2>قائمة المشتريات</h2>
        <h2 class="total-price">
          <span class="price-title">السعر : </span>
          <span class="price-amount">
            {{ totalPrice | currency: productCurrency }}</span
          >
        </h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>اسم المنتج</th>
            <th>القسم</th>
            <th>السعر</th>
            <th>الكمية</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of cartProducts">
            <tr *ngIf="product.quantity != 0">
              <td>
                <p class="table-title">{{ product.title }}</p>
              </td>
              <td>
                <p>{{ product.category | categories }}</p>
              </td>
              <td>
                <p>{{ product.sale ? product.sale : product.price }}</p>
              </td>
              <td>
                <div class="row justify-space-around">
                  <div class="" (click)="increaseQuantity(product)">
                    <div class="quantity-btn">
                      <span>+</span>
                    </div>
                  </div>
                  <p>{{ product.quantity }}</p>
                  <div class="" (click)="decreaseQuantity(product)">
                    <div class="quantity-btn"><span>-</span></div>
                  </div>
                </div>
              </td>
              <td>
                <div (click)="removeProduct(product)" class="btn delete-btn">
                  مسح
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>

    <!-- if there is no products selected -->
    <div *ngIf="cartProducts.length == 0">
      <h3 class="not-found">لا يوجد مشتريات</h3>
    </div>
  </div>
</div>
