.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1111;
}
.page-content {
  margin-top: 149px;
}
@media (max-width: 74.9375em) {
  .page-content {
    margin-top: 109px;
  }
}
@media (max-width: 47.9375em) {
  .page-content {
    margin-top: 109px;
  }
}
