<div class="slider-content row">
  <div class="slider-btn" (click)="slidePrev()">
    <i-bs class="right-arrow" name="arrow-right-short" width="45" height="45">
    </i-bs>
  </div>
  <swiper
    #swiper
    [slidesPerView]="3"
    [loop]="true"
    [breakpoints]="{
      '250': {
        slidesPerView: 1
      },
      '768': {
        slidesPerView: 1,
        spaceBetween: 20
      },
      '1024': {
        slidesPerView: 1,
        spaceBetween: 30
      }
    }"
  >
    <ng-template *ngFor="let slide of sliderData" swiperSlide>
      <div class="container">
        <div class="swiper-slide">
          <h1 class="header">{{ slide.header }}</h1>
          <p class="description">{{ slide.description }}</p>
        </div>
      </div>
    </ng-template>
  </swiper>
  <div class="slider-btn" (click)="slideNext()">
    <i-bs class="left-arrow" name="arrow-left-short" width="45" height="45">
    </i-bs>
  </div>
</div>
