ul {
  padding: 0 30px;
  height: 100px;
  background: var(--main-bg);
  flex-wrap: nowrap;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
}
li {
  margin-right: 10px;
  margin-left: 10px;
  padding: 30px 0;
}
.navbar-logo {
  width: 8%;
  cursor: pointer;
}
.navbar-logo img {
  display: block;
  margin: 10px auto 0;
}
.search-item {
  width: 70%;
  position: relative;
}
.search-icon {
  color: var(--main-color);
  padding: 10px;
  position: absolute;
  top: 27px;
  z-index: 1;
  margin-right: 5px;
  cursor: pointer;
}
.search-input {
  width: 100%;
}
.user-item {
  width: 5%;
}
.cart-item {
  width: 12%;
}
.cart-wrapper,
.user {
  background: var(--input-bg);
  border-radius: 10px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
.user {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon {
  color: var(--icon-color);
  margin-top: 7px;
}
.navbar-toggle {
  display: none;
}

@media (max-width: 74.9375em) {
  ul {
    flex-wrap: wrap;
    padding: 0;
  }
  li {
    padding-top: 10px;
  }
  .navbar-logo img {
    margin: 8px auto 0;
  }
  .navbar-toggle {
    display: inline-flex;
    margin-right: auto;
    cursor: pointer;
  }
  .navbar-item {
    width: 100%;
    background: var(--main-bg);
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .navbar-item > div,
  .search-input {
    width: 95%;
    height: 40px;
    margin: auto;
  }
  .navbar-hide {
    display: none;
  }
  .search-icon {
    top: 7px;
    margin-right: 20px;
  }
}
@media (max-width: 47.9375em) {
  ul {
    flex-wrap: wrap;
    padding: 0;
  }
  li {
    padding-top: 10px;
  }
  .navbar-logo img {
    margin: 8px auto 0;
  }
  .navbar-toggle {
    display: inline-flex;
    margin-right: auto;
    cursor: pointer;
  }
  .navbar-item {
    width: 100%;
    background: var(--main-bg);
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .navbar-item > div,
  .search-input {
    width: 95%;
    height: 40px;
    margin: auto;
  }
  .navbar-hide {
    display: none;
  }
  .search-icon {
    top: 7px;
    margin-right: 20px;
  }
}
